body {
  background-color: #3D5A80;
  color: #f7f7f7;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5{
  font-weight: bold;
}
h6 {
  font-weight: bold;
  color:#fafafa;
}

input[type='checkbox'] {
    width:24px;
    height:24px;
    background:white;
    border-radius:5px;
    border:2px solid #888;
}

.text-padding{
  padding: 5px;
}

.div-graph{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
#map-graph {
  flex-grow: 1
}
.mapboxgl-canvas, .mapboxgl-map {
  min-width: 100%;
}
.div-panel {
  padding-left: 4%;
  padding-top: 2%;
}
.div-dropdown {
  width: 20%;
  /* padding-left: 10px; */
  margin-left: auto;
  margin-right: 0;
  /* display:inline-block; */
}
.div-checkbox {
  width:25%;
  display:inline-block;
}
.div-banner {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}
.div-banner-box {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* Dash preset demo css*/
.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  background-color: white;
  color: black;
  width: 100%;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: #586284;
}
._dash-app-content {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
  color: #586284;
  font-weight: 400;
  font-size: 14px;
}
._dash-undo-redo {
  display: none;
}
/* end Dash demo preset css */


@media only screen and (max-width: 768px) {
  .four, .eight {
      /* min-width: 100%; */
      width: 100%;
 }
  h1, h5, h6, p {
      text-align: center;
 }
  body {
      display: block;
      margin: 0px;
      overflow-y: scroll;
  }
  .div-graph {
      padding: 0px;
      width: 100%;
      text-align: center;
      margin: 0px;
 }

 .div-panel {
    padding: 30px;
 }
}

/* Dash demo preset css */
::-webkit-scrollbar {
  width: 20px !important;
  display: block !important;
}

::-webkit-scrollbar-track {
  background: #CFCFCF !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #727DA4 !important;
}
